<h2>Welcome to Homepage {{ user.name }}</h2>

<ol class="breadcrumb">
	<li class="active">Home</li>
</ol>

<div class="row">
	<div class="col-xs-12">
		<a href="/#/users">Vai alla lista utenti</a>
	</div>
</div>