<h2>Utente</h2>

<ol class="breadcrumb">
	<li><a href="/#/home">Home</a></li>
	<li><a href="/#/users">Utenti</a></li>
	<li class="active">Dettaglio Utente</li>
</ol>

<p><strong>Nome:</strong> {{ user.name }}</p>
<p><strong>Cognome:</strong> {{ user.surname }}</p>
<p><strong>Data di Nascita:</strong> {{ user.birthday }}</p>
<p><strong>Città:</strong> {{ user.city }}</p>
<p><strong>Codice Fiscale:</strong> {{ user.fiscalcode }}</p>