<h2>Carica file</h2>

<p>Attenzione! il file deve essere formato .txt<br>
Ogni parametro deve essere separato dal parametro pipe (|)</p>

<div class="row">
	<div class="col-xs-12">
	
		<div class="btn btn-primary btn-upload" upload-button url="/api/upload.php" on-success="onSuccess(response)">Upload</div>
	
	</div>
</div>
