<h2>Utenti</h2>

<ol class="breadcrumb">
	<li><a href="/#/home">Home</a></li>
	<li class="active">Utenti</li>
</ol>

<div class="row">
	<div class="col-xs-12">
	
		<table class="table table-bordered table-striped">
			<tr ng-repeat="user in users">
				<td><a href="{{ '/#/user/' + user.id }}">{{ user.name + ' ' + user.surname }}</a></td>
			</tr>
		</table>
		
	</div>
</div>
<hr />
<div class="row">
	<div class="col-xs-12">
	
		<a href="/#/upload" class="btn btn-primary">Carica un nuovo file</a>
	
	</div>
</div>